body{
  background-color: aquamarine;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calculator {
  width: 600px;
  display: flex;
  flex-direction: column;
}

#display {
  justify-self: center;
  background-color: lightgray;
  border: 1px solid gray;
  height: 50px;
  width: 600px;
}

#button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  width: 600px;
}

.row{
  display: flex;
  justify-content: center;
}

button{
  height: 75px;
  flex-grow: 1;
}

#clear{
  flex-grow:3;
}